<h1> Add a new album </h1>

<form action="<%=new_band_album_url(@band)%>" method="post">

  <label for="band">Band:</label>
  <select id="band" name="album[band_id]">
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"
        <%= @band == band ? "selected" : nil %>
        > <%= band.name %> </option>
    <% end %>
  </select>
  <br />  <br />

  <label for="title">Title:</label>
  <input type="text" name="band[title]" >
  <br />  <br />

  <label for="year">Year:</label>
  <input type="integer" name="band[year]" >
  <br />  <br />

  <label for="recorded">Recording:</label>
  <input type="radio" name="band[studio_recorded]" value="true" checked>studio recording
  <input type="radio" name="band[studio_recorded]" value="false">live recording
  <br />  <br />

  <input type="submit" value="add album">
</form>
