/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* footer {
   flex: right;
 } */

 body {
   font-family: 'Advent Pro';
   text-transform: lowercase;
   padding: 2px;
 }

 .notes {
   color: teal;
   /* text-align: right; */
 }

 h1 {
  font-size: 35px;
 }

 label {
   font-weight: bold;
   font-size: 20px;
 }

 input[type=submit] {
   color: white;
   padding: 5px;
   background-color: #FF5733;
   font-family: 'Advent Pro';
   font-weight: bold;
   font-size: 15px;
 }

 .lyrics {
   padding: 20px;
   color: #FF5733;
   font-family: 'Advent Pro';
   font-size: 17px;
 }

 /* .small_button {
   padding: 0px;
   color: #FF5733;
   background-color: white
   font-family: 'Advent Pro';
 } */

 .logged_in {
   font-size: 13px;
 }

 .topnav {
   padding: 10px;
   color: white;
   background-color: teal;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }
